$theme : #192A32;
$light_color : #A8BFC9;
$radius : 15px;

@mixin center () {
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    margin: 0;
    height: 100vh;
    background-color: $theme;
    @include center();
    font-family: 'Outfit', sans-serif;
    font-weight: bold;
}

section {
    @include center();
    flex-direction: column;
    justify-content: space-around;
    width: 40%;
    height: 50%;
}

#menu {
    @include center();
    width: 100%;
    flex-direction: column;
    background-color: #1F3641;
    border-radius: $radius;
    text-transform: uppercase;
}

#choose_player {
    color: $light_color;
}

#remember {
    color: #647A85;
}

#contain_imgs {
    background-color: $theme;
    width: 90%;
    padding: 3%;
    border-radius: $radius;
    @include center();

    & div {
        width: 50%;
        @include center();
        border-radius: $radius;
        padding: 2%;

        & img {
            width: 20%;
        }
    }

    & div:hover {
        background-color: $light_color;
    }
}

#img_x:hover {
    background-image: url(../img/icon-x-outline-grey.svg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: 20%;
}

button {
    border-radius: $radius;
    width: 100%;
    padding: 2%;
    text-transform: uppercase;
    border: none;
}

#btn_yellow {
    background-color: #F2B137;
    color: $theme;
    font-weight: bold;
}

#btn_blue {
    background-color: #31C3BD;
    font-weight: bold;
    color: $theme;
}